@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  font-size: 1px;
}

body {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  max-width: 75vw;
  margin: auto;
}

.container_header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  font-size: 20rem;
}

.header_navbar > li {
  display: inline;
}
.container_header a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.header_content {
  margin: 25px 10px;
}

@media (max-width: 650px) {
  body {
    max-width: 90vw;
  }
  .name {
    display: none;
  }
  .container_header {
    justify-content: center;
  }
}
