/* Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
}

.container_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: auto;
}

.portfolio {
  color: #03045e;
  font-size: 40px;
  font-weight: bold;
}

.header_navbar {
  width: 400px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #03045e;
  font-size: 30px;
}

.nav a{
  text-decoration: none;
  color: #03045e;
}

.header_socialMedia {
  width: 150px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.icon {
  width: 30px;
  height: 30px;
}

/* Aboutme */

#introduction-container {
  width: 85vw;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 170px;
}

#introduction {
  color: #03045e;
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
  margin-bottom: 250px;
}

.sub-heading {
  font-size: 50px;
}

.intro-role {
  font-size: 100px;
  font-weight: bolder;
}

.link {
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 150px;
  font-size: 30px;
  background-color: #f0e75c;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #474306;
}

.photo img {
  width: 550px;
  height: 550px;
}

#aboutme {
  margin-top: 100px;
  margin-bottom: 100px;
}

.aboutme-heading {
  color: #474306;
  font-size: 50px;
  font-weight: 500;
}

.line {
  width: 70vw;
  height: 0;
  border: 1px solid #474306;
  margin: 3px;
  display: inline-block;
}

.aboutme-para {
  font-size: 30px;
}

/* Skills */

#skills {
  width: 85vw;
  margin: auto;
  margin-top: 100px;
}

.skill-heading {
  color: #474306;
  font-size: 50px;
  font-weight: 500;
}

.skill-list {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.skillBox {
  color: #474306;
  border: 1px solid #474306;
  border-radius: 5px;
  padding: 10px;
  width: 7%;
  text-align: center;
}

.infoBox{
  color: #474306;
  font-size: 30px;
  border: 1px solid #474306;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: 30px;
}

.infoBox a{
  color: #474306;
  text-decoration: none;
}


/* Projects */

#projects {
  width: 85vw;
  margin: auto;
  margin-top: 100px;
}

.project-heading {
  color: #474306;
  font-size: 50px;
  font-weight: 500;
}

.template-project {
  width: 85vw;
  height: 700px;
  border: 3px solid #474306;
  border-radius: 7px;
  margin: auto;
  margin-top: 50px;
}

.project-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "heading projectNumber"
    "links statement";

   padding: 20px; 
}

.project-template-heading-container {
  grid-area: heading;
  justify-self: center;
}

.links {
  grid-area: links;
  justify-self: center;
  align-self: center;
}

/* .links SkillBox{
  margin-top:20px;
} */

.project-number {
  grid-area: projectNumber;
  justify-self: right;
}

.statement {
  grid-area: statement;
  justify-self: right;
  text-align: right;
  font-size: 30px;
}

.project-template-heading {
  color: #03045e;
  font-size: 40px;
  font-weight: bold;
}

.project-number {
  color: #03045e;
  font-size: 100px;
  font-weight: bolder;
}

.para {
  font-size: 30px;
}

/* footer */

#footer{

  width: 70%;
margin: auto;
margin-top: 100px;
margin-bottom: 40px;
}
